@model SIDEPS.Models.DetallesHistoricoCaso_M

@{
    ViewBag.Title = "Detalles de Caso";
}

<h2>Detalles de Caso</h2>

<div>
    <h4>Datos Personales</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    <h4>Aspecto Salud</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    <h4>Vivienda</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    <h4>Grupo Familiar</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    <h4>Egresos</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    <h4>Comentarios</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "HistoricoDeCasos")
</p>
